Repository Azure/karpenter-provider-azure, pull requests merged in 2024-09, with the labels that each got.

#476 Set top-level permissions to `contents: read`
  .github/workflows/release-trigger.yaml
Labels: area/security, area/ci

#477 fix: harden harden-runner egress policy
  .github/workflows/approval-comment.yaml
  .github/workflows/ci-test.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deflake.yml
  .github/workflows/dependency-review.yml
  .github/workflows/e2e-matrix.yaml
  .github/workflows/e2e.yaml
  .github/workflows/release-trigger.yaml
  .github/workflows/resolve-args.yaml
  .github/workflows/scorecards.yml
Labels: area/security, area/e2e-testing, area/ci

#484 fix(bootstrap): add defaults for required IMDS restriction settings
  pkg/providers/imagefamily/bootstrap/cse_cmd.sh.gtpl
Labels: area/bootstrap

#366 refactor: rework aged authentication config interface
  go.mod
  go.sum
  karpenter-values-template.yaml
  pkg/auth/autorest_auth.go
  pkg/auth/config.go
  pkg/auth/config_test.go
  pkg/auth/cred.go
  pkg/auth/cred_test.go
  pkg/auth/util.go
  pkg/operator/operator.go
  pkg/providers/imagefamily/azlinux.go
  pkg/providers/imagefamily/bootstrap/aksbootstrap.go
  pkg/providers/imagefamily/ubuntu_2204.go
  pkg/providers/instance/azure_client.go
  pkg/providers/instance/skuclient/skuclient.go
  pkg/providers/launchtemplate/launchtemplate.go
  pkg/providers/launchtemplate/parameters/types.go
Labels: area/security, area/global-config
