Repository Azure/karpenter-provider-azure, pull requests merged in 2024-01, with the labels that each got.

#85 chore: bump cuda gpu driver version from 525 to 535
  pkg/utils/gpu.go
  pkg/utils/gpu_test.go
Labels: area/gpu

#71 docs: modifying v1 of docs to point to managed experience
  README.md
Labels: kind/documentation

#89 test: adding test coverage for image resolution codepath
  hack/codegen.sh
  pkg/fake/zz_generated.sku.eastus.go
  pkg/providers/imagefamily/azlinux.go
  pkg/providers/imagefamily/image_test.go
  pkg/providers/instancetype/suite_test.go
Labels: area/vm-images, area/testing

#93 fix: mark spot as unavailable on LowPriorityQuota
  go.mod
  go.sum
  pkg/cache/unavailableofferings.go
  pkg/cache/unavailableofferings_test.go
  pkg/providers/instance/instance.go
  pkg/providers/instancetype/instancetypes.go
  pkg/providers/instancetype/suite_test.go
Labels: area/spot, area/unavailable-offerings, area/error-handling

#90 chore: remove provisional image drift implementation
  pkg/cloudprovider/cloudprovider.go
  pkg/cloudprovider/drift.go
  pkg/cloudprovider/suite_test.go
Labels: kind/cleanup, area/upgrade, area/drift

#110 fix(ci): tighten GHA permissions
  .github/workflows/build-publish-mcr.yml
  .github/workflows/ci-test.yml
  .github/workflows/ci.yml
  .github/workflows/deflake.yml
  .github/workflows/e2e-matrix-trigger.yaml
  .github/workflows/e2e-matrix.yaml
  .github/workflows/e2e.yaml
  .github/workflows/resolve-args.yaml
Labels: area/security, area/ci

#115 fix: add missing job permissions
  .github/workflows/build-publish-mcr.yml
  .github/workflows/ci-test.yml
  .github/workflows/deflake.yml
  .github/workflows/e2e-matrix-trigger.yaml
  .github/workflows/e2e-matrix.yaml
  .github/workflows/e2e.yaml
Labels: area/e2e-test-framework, area/security, area/ci

#113 feat: add pre-commit configuration and install in devcontainer
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  typos.toml
Labels: area/security, area/devtools

#123 style: rename nodeTemplate to nodeClass
  pkg/providers/launchtemplate/launchtemplate.go
Labels: kind/cleanup

#116 chore: refresh dependabot configuration
  .github/dependabot.yaml
  .github/dependabot.yml
  Makefile
  hack/github/dependabot.sh
Labels: area/security, area/github-management, area/dependency, area/ci

#84 feat(identity): add support for using workload id for karpenter pod
  .github/actions/e2e/create-cluster/action.yaml
  Makefile-az.mk
  go.mod
  go.sum
  pkg/auth/autorest_auth.go
  pkg/auth/config.go
  pkg/auth/cred.go
  skaffold.yaml
Labels: kind/feature, area/e2e-test-framework, area/security

#118 chore: refresh toolchain
  .github/actions/install-deps/action.yml
  Makefile
  hack/toolchain.sh
  pkg/apis/crds/karpenter.azure.com_aksnodeclasses.yaml
Labels: area/devtools, area/dependency

#117 chore: update and pin GHA versions; add actionlint and VSCode extension
  .devcontainer/devcontainer.json
  .github/actions/commit-status/end/action.yaml
  .github/actions/commit-status/start/action.yaml
  .github/actions/download-artifact/action.yaml
  .github/actions/e2e/cleanup/action.yaml
  .github/actions/e2e/create-acr/action.yaml
  .github/actions/e2e/create-cluster/action.yaml
  .github/actions/e2e/dump-logs/action.yaml
  .github/actions/e2e/install-karpenter/action.yaml
  .github/actions/install-deps/action.yml
  .github/workflows/build-publish-mcr.yml
  .github/workflows/e2e-matrix.yaml
  .github/workflows/e2e.yaml
  Makefile
  hack/toolchain.sh
Labels: area/e2e-test-framework, area/security, area/devtools, area/ci
