Repository Azure/karpenter-provider-azure, pull requests merged in 2025-03, with the labels that each got.

#724 fix: add required `MCR_REPOSITORY_BASE` to bootstrap
  pkg/providers/imagefamily/bootstrap/cse_cmd.sh.gtpl
Labels: area/bootstrap, area/vm-images

#707 fix: karpenter should generate a number of ipconfigurations matching max pods
  charts/karpenter-crd/templates/karpenter.azure.com_aksnodeclasses.yaml
  pkg/apis/crds/karpenter.azure.com_aksnodeclasses.yaml
  pkg/apis/v1alpha2/aksnodeclass.go
  pkg/consts/consts.go
  pkg/providers/imagefamily/resolver.go
  pkg/providers/instance/instance.go
  pkg/providers/instance/suite_test.go
  pkg/providers/instancetype/instancetype.go
  pkg/providers/instancetype/instancetypes.go
  pkg/providers/instancetype/suite_test.go
  pkg/utils/utils.go
Labels: area/networking, area/aksnodeclass, area/api

#760 fix(e2e): clean up resources and set environment variables before e2e
  Makefile-az.mk
Labels: area/e2e-test-framework
